<!DOCTYPE HTML>

<html>
	<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
    
    

    <link rel = "stylesheet" href="static/style.css"/>

  

    <div class = "box">
    <h1> It's Corona Time</h1>
    <h2> Did you pass the vibe check? </h2>

		<form action="/" method = "POST">
			Do you wash your hands before meals?
      <br/><input type="radio" id="yes" name="a"value="Yes" required <label for="yes"> Yes</label>
      <input type="radio" id="no" name="a" value="No">
      <label for="no"> No </label><br>
			Do you wash your hands when you reach home?
      <br/><input type="radio" id="yes" name="b" value="Yes" required> <label for="yes"> Yes</label>
      <input type="radio" id="no" name="b" value="No">
      <label for="no"> No </label><br>
 
      How many hours do you excercise in a week?<br>
     <select name="c">
     <option>0</option>
     <option>1</option>
     <option>2</option>
     <option>3</option>
     <option>4</option>
     <option>5</option>
     <option>>5</option>    
     </select> hours
      <br>

      Do you go home immediately after school?
      <br/><input type="radio" id="yes" name="d" value="Yes" required> <label for="yes"> Yes</label>
      <input type="radio" id="no" name="d" value="No">
      <label for="no"> No </label><br>

      Do you stay 1m away from others?
      <br/><input type="radio" id="yes" name="e" value="Yes" required <label for="yes"> Yes</label>
      <input type="radio" id="sm" name="e" value="Sometimes" required> <label for="sm"> Sometimes</label>
      <input type="radio" id="no" name="e" value="No">
      <label for="no"> No </label><br>

      Do you have stocks of dry food/instant noodles at home?
      <br/><input type="radio" id="yes" name="f" value="Yes" required> <label for="yes"> Yes</label>
      <input type="radio" id="no" name="f" value="No">
      <label for="no"> No </label><br>

      Did you panic buy toilet paper?
      <br/><input type="radio" id="yes" name="g" value="Yes" required> <label for="yes"> Yes</label>
      <input type="radio" id="no" name="g" value="No">
      <label for="no"> No </label><br>

      Do you have a home set-up for work/ home learning?
      <br/><input type="radio" id="yes" name="h" value="Yes" required> <label for="yes"> Yes</label>
      <input type="radio" id="no" name="h" value="No">
      <label for="no"> No </label><br> </input>


      <input type="submit" value="Done"></input>

      
		</form>
    
    </div>


	</body>
</html>