<!DOCTYPE HTML>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
     <link rel = "stylesheet" href="static/style.css"/>
     
    <!
    {{ A }}
    {{ B }}
    {{ C }}
    {{ D }}
    {{ E }}
    {{ F }}
    {{ G }}
    {{ H }} ><br>
    {{ msg }}
    <br>
    <p><br>
    PSA:Stay safe from the Coronavirus! Remember to hydrate yourself to stay healthy. Help one another in this time of need - don't hoard "emergency" supplies such as masks, hand sanitisers, rice or toilet paper!
    </p>
  </body>
</html>